.all{
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  display: grid;
}
h1 {
  text-align: center;
}

  .p1 {
      grid-area: p1;
      height: 300px;
  }
  .p2 {
      grid-area: p2;
      height: 300px
      }
  .p3 {
      grid-area: p3;
      height: 250px;
      }
  .p4 {
      grid-area: p4;
      height: 250px;
      }
  .p5 {
      grid-area: p5;
      height: 250px;
      }
  .p6 {
      grid-area: p6;
      height: 500px;
      }
  .p7 {
      grid-area: p7;
      height: 500px;
      }
  .p8 {
      grid-area: p8;
      height: 500px;
      }
  .p9 {
      grid-area: p9;
      height: 500px;
      }

@media  (min-width: 1366px){
          .all { 
              grid-template-areas: 
                "p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 p2 p2"
                "p3 p3 p3 p3 p4 p4 p4 p4 p5 p5 p5 p5"
                "p6 p6 p7 p7 p7 p7 p8 p8 p9 p9 p9 p9";
              grid-template-rows: 1fr 0.7fr 1.7fr;  
              grid-template-columns: repeat(12, 1fr);
              grid-gap: 4px;
              width: 1420px;}
              h1{width: 1420px;}
           }

@media (min-width: 640px) and (max-width: 1365px){
  .all{
      grid-template-areas: 
      'p1 p1 p1 p1'
      'p2 p2 p2 p2'
      'p3 p3 p3 p3'
      'p4 p4 p4 p5'
      'p6 p6 p7 p7'
      'p8 p9 p9 p9'
      ;
      grid-template-columns: repeat(4, 1fr);
      height: 2100px;
      width: 850px;
  }
  h1{width: 850px;}
}

@media (max-width:640px){
  .all{
      grid-template-areas: 
      'p1 p1 p1 p1'
      'p2 p2 p2 p2'
      'p3 p3 p3 p3'
      'p4 p4 p4 p6'
      'p5 p5 p5 p6'
      'p7 p7 p8 p8'
      'p9 p9 p9 p9'
      ;
      width: 585px;
      grid-template-rows: 1fr 1fr 0.8fr;

      
      
      
      
  }
  h1{width: 585px;}
  img {
      width: 70%;
      height: auto;
      
  }
  .p8 {
    transform: translateX(-80px);
  }
  .p6 {
    transform: translateX(-80px);
  }
}