.match {
    margin-left: 250px;
    margin-top: 200px;
    transform: scaleX(0.9);
}


.stick {
    
    width: 20px;
	height: 300px;
    background: linear-gradient(to right, #e7a163cc, #fda839cc); 
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: inset 6px 0px 10px 4px rgba(0,0,0,0.6);
    

    
    
}

.top {
    width: 45px;
    height: 55px;
    border-radius: 70%;
    background: linear-gradient(180deg,white 4%, sienna 20%, rgb(72,40, 20));
    transform: translate(20px,0);
    -webkit-transform: translate(-11px,8px);
    box-shadow: 0px -6px 15px 12px rgba(255, 255, 255, 1), inset 0px 23px 12px -6px rgba(255, 255, 255, 0.6);
    
}

.fire {
    width: 200px;
    height: 200px;
    background: linear-gradient(300deg, gold, red);
    transform: rotateZ(140deg);
    border-radius: 0% 100% 100% 100%;
    transform: translate(-85px,57px) rotate(45deg);
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.4);
    
}



.fire:hover {
    background: linear-gradient(300deg, rgb(190, 167, 33), rgb(179, 26, 26));
    transition-duration: 1s;
}


